<mat-card class="login-card">
    <mat-card-header class="head">
        <mat-card-title>
            Login
        </mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
        <form>
            <div class="a">
                <mat-label>Email </mat-label>
                <mat-form-field>
                    <input mat-input type="email">
                </mat-form-field>
            </div>
            
            <div class="a">
                <mat-label>Password </mat-label>
                <mat-form-field >
                    <input mat-input type="password">
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" >Login</button>
        </form>
    </mat-card-content>
</mat-card>