<div class="register">
    <mat-card class="register-card">
        <mat-card-header class="head">
            <mat-card-title>
                Registration
            </mat-card-title>
        </mat-card-header> 
        
        <mat-card-content>
            <form required>
                <div>
                    <mat-label>Name</mat-label>
                    <mat-form-field>
                        <input type="Name">
                    </mat-form-field>
                </div>
                <div>
                    <mat-label>Last</mat-label>
                    <mat-form-field>
                        <input type="Name">
                    </mat-form-field>
                </div>
                <div>
                    <mat-label>Email</mat-label>
                    <mat-form-field>
                        <input type="email">
                    </mat-form-field>
                </div><div>
                    <mat-label>Password</mat-label>
                    <mat-form-field>
                        <input type="password">
                    </mat-form-field>
                </div>
    
               
                <button mat-raised-button color="primary" >Login</button>
            </form>
        </mat-card-content>
    </mat-card>
    
</div>
